@page "/"
@page "/homes"

@using Spenses.Application.Models
@using Spenses.Client.Http
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>Index</PageTitle>

@inject IHomesApi Homes

<PageTitle>Homes</PageTitle>

<h1>Homes</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_homes is null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{
  <FluentDataGrid Id="manualGrid" Items=@_homes GridTemplateColumns="1fr 1fr 1fr 2fr" TGridItem=Home>
    <PropertyColumn Title="Name" Property="@(c => c!.Name)" Sortable="true" Align=Align.Start/>
    <PropertyColumn Title="Description" Property="@(c => c!.Description)" Sortable="true" Align=Align.Center/>
  </FluentDataGrid>
}

@code {
  private IQueryable<Home>? _homes;

  protected override async Task OnInitializedAsync()
  {
    try
    {
      _homes = (await Homes.GetHomes()).AsQueryable();
    }
    catch (AccessTokenNotAvailableException exception)
    {
      exception.Redirect();
    }
  }

}
