@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<LoadingIndicator Visible="ExpenseCategoriesState.Value.ExpenseCategoryRequesting || ExpenseCategoriesState.Value.ExpenseCategoryUpdating">
    <ModalHeader>
        <ModalTitle>Edit expense category</ModalTitle>
        <CloseButton/>
    </ModalHeader>
    <ModalBody>
        <ExpenseCategoryForm @ref="ExpenseCategoryFormRef"
                             ExpenseCategory="ExpenseCategory"/>
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Warning" Clicked="Close">
            Cancel
        </Button>
        <Button Color="Color.Primary" Clicked="Save">
            <Icon Name="IconName.Save" Margin="Margin.Is2.FromEnd"/>
            Save expense category
        </Button>
    </ModalFooter>
</LoadingIndicator>
