@using Blazorise.FluentValidation

<Validations @ref="Validations"
             Mode="ValidationMode.Manual"
             Model="@ExpenseCategory"
             HandlerType="typeof(FluentValidationHandler)">
    <Form>
        <Fields>
            <Validation>
                <Field>
                    <FieldLabel RequiredIndicator>
                        Name
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="ExpenseCategory.Name"
                                  Placeholder="groceries">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                        <FieldHelp>The name of this expense category.</FieldHelp>
                    </FieldBody>
                </Field>
            </Validation>
        </Fields>
        <Fields>
            <Validation>
                <Field>
                    <FieldLabel>
                        Description
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="ExpenseCategory.Description" Placeholder="Stuff to eat!">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                        <FieldHelp>
                            An optional description for this expense category.
                        </FieldHelp>
                    </FieldBody>
                </Field>
            </Validation>
        </Fields>
    </Form>
</Validations>
