@page "/homes"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Homes</PageTitle>

<h1>Homes</h1>

<FluentDataGrid Id="weathergrid" Items="HomeItems" GridTemplateColumns="1fr 1fr 1fr 2fr" TGridItem=Shared.Models.Homes.Home>
    <PropertyColumn Title="Date" Property="@(c => c!.Name)" Sortable="true" Align=Align.Start/>
    <PropertyColumn Title="Temp. (C)" Property="@(c => c!.Description)" Sortable="true" Align=Align.Start/>
</FluentDataGrid>
