@page "/homes/{homeId:guid}/dashboard"
@using Spenses.App.Store.Homes
@using Spenses.App.Components.Homes
@using MudBlazor.Extensions
@using System.Globalization
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@layout MainLayout

<PageTitle>Dashboard: @(HomesState.Value.CurrentHome?.Name ?? "Loading...")</PageTitle>

<MudStack>
    <div class="align-start d-flex">
        <MudText Typo="Typo.h4">Dashboard: @(HomesState.Value.CurrentHome?.Name ?? "Loading...")</MudText>
        <MudSpacer/>
        <MudDateRangePicker @ref="PeriodPickerRef"
                            DateRange="Period"
                            DateRangeChanged="OnPeriodChanged"
                            Label="Period"
                            Variant="Variant.Outlined"
                            PickerVariant="PickerVariant.Dialog"
                            AutoClose>
            <PickerActions>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           OnClick="SetPeriodToLastMonth">
                    Last month
                </MudButton>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           OnClick="SetPeriodToThisMonth">
                    This month
                </MudButton>
                <MudSpacer/>
                <MudButton Variant="Variant.Outlined"
                           OnClick="@(() => PeriodPickerRef?.Close())">
                    Close
                </MudButton>
            </PickerActions>
        </MudDateRangePicker>
    </div>

    @if (HomesState.Value.CurrentHome is not null)
    {
        <BalanceBreakdownPanel @ref=BalanceBreakdownPanelRef
                               HomeId="HomesState.Value.CurrentHome.Id"
                               PeriodStart="PeriodStart"
                               PeriodEnd="PeriodEnd" />
    }
</MudStack>

@code {

    [Parameter] public Guid HomeId { get; set; }

    [Inject] private IState<HomesState> HomesState { get; set; } = null!;

    [Inject] private IDispatcher Dispatcher { get; set; } = null!;

    private DateRange Period { get; set; } = new();

    private DateOnly PeriodStart => DateOnly.FromDateTime(Period.Start.GetValueOrDefault());

    private DateOnly PeriodEnd => DateOnly.FromDateTime(Period.End.GetValueOrDefault());

    private BalanceBreakdownPanel? BalanceBreakdownPanelRef { get; set; }

    private MudDateRangePicker? PeriodPickerRef { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (HomesState.Value.CurrentHome?.Id == HomeId)
            return;

        Dispatcher.Dispatch(new HomeRequestedAction(HomeId));

        Period = GetThisMonth();
    }

    private void SetPeriodToThisMonth()
    {
        Period = GetThisMonth();

        PeriodPickerRef!.PickerMonth = Period.Start.GetValueOrDefault().StartOfMonth(CultureInfo.CurrentCulture);

        PeriodPickerRef.Close();
    }

    private static DateRange GetThisMonth()
    {
        var today = DateTime.Today;

        var daysInMonth = DateTime.DaysInMonth(today.Year, today.Month);
        var start = new DateOnly(today.Year, today.Month, 1).ToDateTime(TimeOnly.MinValue);
        var end = new DateOnly(today.Year, today.Month, daysInMonth).ToDateTime(TimeOnly.MinValue);

        return new DateRange(start, end);
    }

    private void SetPeriodToLastMonth()
    {
        Period = GetLastMonth();

        PeriodPickerRef!.PickerMonth = Period.Start.GetValueOrDefault().StartOfMonth(CultureInfo.CurrentCulture);

        PeriodPickerRef.Close();
    }

    private static DateRange GetLastMonth()
    {
        var today = DateTime.Today;

        var start = new DateOnly(today.Year, today.Month, 1).AddMonths(-1).ToDateTime(TimeOnly.MinValue);
        var daysInMonth = DateTime.DaysInMonth(start.Year, start.Month);

        var end = new DateOnly(start.Year, start.Month, daysInMonth).ToDateTime(TimeOnly.MinValue);

        return new DateRange(start, end);
    }

    private void OnPeriodChanged(DateRange dateRange)
    {
        Period = dateRange;

        if (BalanceBreakdownPanelRef is null)
            return;

        BalanceBreakdownPanelRef.PeriodStart = PeriodStart;
        BalanceBreakdownPanelRef.PeriodEnd = PeriodEnd;
        BalanceBreakdownPanelRef.Refresh();
    }
}
