@page "/homes/{homeId:guid}/dashboard"
@using Spenses.App.Store.Homes
@using Spenses.App.Store.Dashboard
@using Spenses.App.Components.Homes
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@layout MainLayout

<PageTitle>Dashboard: @(HomesState.Value.CurrentHome?.Name ?? "Loading...")</PageTitle>

<MudStack>
    <div class="align-start d-flex">
        <MudText Typo="Typo.h4">Dashboard: @(HomesState.Value.CurrentHome?.Name ?? "Loading...")</MudText>
        <MudSpacer/>
        <DateRangeFilterPicker Label="Period"
                               Period="Period"
                               OnPeriodChanged="OnPeriodChanged"/>
    </div>

    @if (HomesState.Value.CurrentHome is not null)
    {
        <BalanceBreakdownPanel HomeId="HomesState.Value.CurrentHome.Id"/>
    }
</MudStack>

@code {

    [Parameter] public Guid HomeId { get; set; }

    [Inject] private IState<HomesState> HomesState { get; set; } = null!;

    [Inject] private IState<DashboardState> DashboardState { get; set; } = null!;

    [Inject] private IDispatcher Dispatcher { get; set; } = null!;

    private DateRange Period => new(
        DashboardState.Value.PeriodStart.ToDateTime(TimeOnly.MinValue),
        DashboardState.Value.PeriodEnd.ToDateTime(TimeOnly.MinValue));

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (HomesState.Value.CurrentHome?.Id == HomeId)
            return;

        Dispatcher.Dispatch(new HomeRequestedAction(HomeId));
    }

    private void OnPeriodChanged(DateRange dateRange)
    {
        Dispatcher.Dispatch(new DashboardPeriodChangedAction(
            HomeId,
            DateOnly.FromDateTime(dateRange.Start.GetValueOrDefault()),
            DateOnly.FromDateTime(dateRange.End.GetValueOrDefault())));
    }

}
