@using Spenses.App.Infrastructure
@using Spenses.Shared.Validators.Me
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MudStack AlignItems="AlignItems.Start">
    <MudText Typo="Typo.h5">
        Profile
    </MudText>
    <MudText>
        Your personal profile. This information is shown to other Spenses users.
    </MudText>

    <EditForm Model="Properties"
              OnSubmit="UpdateInformation">

        <Validate ValidationProperties="@(ValidationProperties.Set.FluentValidator<UserProfilePropertiesValidator>())"/>

        <MudTextField @bind-Value="Properties.DisplayName"
                      Label="Display name"
                      For="@(() => Properties.DisplayName)"
                      Immediate
                      DebounceInterval="250"
                      Required
                      HelperText="The name shown to other members to identify you."
                      Adornment="@(UpdateSucceeded == true ? Adornment.End : Adornment.None)"
                      AdornmentIcon="@Icons.Material.Rounded.Check"
                      AdornmentColor="Color.Success"
                      Style="width: 500px"/>

        <div>
            <LoadingButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           Disabled="!UpdateEnabled"
                           Loading="MeState.Value.CurrentUserUpdating"
                           Style="width: 240px">
                Update profile
            </LoadingButton>
        </div>
    </EditForm>

</MudStack>
