@using Blazorise.FluentValidation
@inherits BlazorState.BlazorStateComponent

<Validations @ref="Validations"
             Mode="ValidationMode.Manual"
             Model="@Member"
             HandlerType="typeof(FluentValidationHandler)">
    <Form>
        <Fields>
            <Validation>
                <Field>
                    <FieldLabel RequiredIndicator>
                        Name
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="Member.Name"
                                  Placeholder="Hingle McCringleberry">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                        <FieldHelp>This member's name</FieldHelp>
                    </FieldBody>
                </Field>
            </Validation>
        </Fields>
        <Fields>
            <Validation>
                <Field>
                    <FieldLabel>
                        Contact email
                    </FieldLabel>
                    <FieldBody>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>@@</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="Member.ContactEmail" Placeholder="hmccringleberry@psu.edu">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Addon>
                        </Addons>
                        <FieldHelp>
                            Add this member's email address if they should receive email notifications or reminders
                        </FieldHelp>
                    </FieldBody>
                </Field>
            </Validation>
        </Fields>
        <Fields>
            <Validation Validator="ValidationRule.None">
                <Field>
                    <FieldLabel>
                        Default split percentage
                    </FieldLabel>
                    <FieldBody>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>%</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <NumericPicker @bind-Value="DefaultSplitPercentage"
                                               TValue="decimal"
                                               Decimals="2"
                                               Placeholder="50.00"
                                               Min="0"
                                               Max="100m">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </NumericPicker>
                            </Addon>
                        </Addons>
                        <FieldHelp>
                            The default ratio to use for splitting expenses with other members of the household
                        </FieldHelp>
                    </FieldBody>
                </Field>
            </Validation>
        </Fields>
    </Form>
</Validations>
<MemberSplitPercentageAlert @bind-Visible="IsTotalHomeSplitPercentageInvalid"/>
@* <Alert Color="Color.Warning"
       @bind-Visible="IsTotalHomeSplitPercentageInvalid">
    <Heading Size="HeadingSize.Is5" TextWeight="TextWeight.Bold">
        The total split percentages among members of this home is not equal to 100%.
    </Heading>
    <AlertDescription>
        This could cause issues when creating expenses in this home. If the total split percentage is <i>greater</i>
        than 100%, <b>you will not be able to add expenses at all</b>. Ensure that you adjust the default split
        percentages of this or other home members such that default split percentages add up to exactly 100%.
    </AlertDescription>
</Alert> *@
