@page "/homes/{homeId:guid}/dashboard"
@using Spenses.Client.Web.Features.Homes
@using Spenses.Client.Web.Layouts

@inherits BlazorState.BlazorStateComponent

@layout MainLayout

<h3>Dashboard: @(HomeState.CurrentHome?.Name ?? "Loading...")</h3>

<iframe style="overflow: hidden; width: 100%;" height="720" src="https://www.youtube.com/embed/yNxPVj0hejg?si=pGCFIKb45vItwkPx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

@code {

    [Parameter]
    public Guid HomeId { get; set; }

    HomeState HomeState => GetState<HomeState>();

    protected override async Task OnParametersSetAsync()
    {
        await Mediator.Send(new HomeState.HomeSelected(HomeId));
    }
}
