@page "/homes/{homeId:guid}"
@page "/homes/{homeId:guid}/dashboard"
@using Spenses.Application.Models.Homes
@using Spenses.Application.Models.Members
@using Spenses.Client.Web.Features.Homes

@inherits BlazorState.BlazorStateComponent

@if (HomeState.HomeRequesting)
{
  <h1>Loading...</h1>
}
else
{
  <h1>@CurrentHome?.Name</h1>
}

@code {

  [Parameter]
  public Guid HomeId { get; set; }

  Home? CurrentHome => HomeState.CurrentHome;

  HomeState HomeState => GetState<HomeState>();

  protected override async Task OnParametersSetAsync()
  {
    await Mediator.Send(new HomeState.HomeSelected(HomeId));
  }

}
