@page "/homes/{homeId:guid}/insights"
@using Spenses.Client.Web.Components.Insights
@using Spenses.Client.Web.Layouts
@using Spenses.Client.Web.Store.Homes
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@layout MainLayout

<h3>Insights: @(HomesState.Value.CurrentHome?.Name ?? "Loading...")</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is12.OnDesktop">
        <ExpensesOverTimeCard HomeId="HomeId" />
    </Column>
</Row>

@code {

    [Parameter]
    public Guid HomeId { get; set; }

    [Inject]
    private IState<HomesState> HomesState { get; set; } = null!;

    [Inject]
    private IDispatcher Dispatcher { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (HomesState.Value.CurrentHome?.Id == HomeId)
            return;

        Dispatcher.Dispatch(new HomeRequestedAction(HomeId));
    }
}
