@page "/homes/{homeId:guid}/insights"
@using Spenses.Client.Web.Layouts
@using Spenses.Client.Web.Store.Homes
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@layout MainLayout

<h3>Insights: @(HomesState.Value.CurrentHome?.Name ?? "Loading...")</h3>

<iframe style="overflow: hidden; width: 100%;" height="720" src="https://www.youtube.com/embed/MHWBEK8w_YY?si=E5mpyP5USuKCYHYq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

@code {

    [Parameter]
    public Guid HomeId { get; set; }

    [Inject]
    private IState<HomesState> HomesState { get; set; } = null!;

    [Inject]
    private IDispatcher Dispatcher { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (HomesState.Value.CurrentHome?.Id == HomeId)
            return;

        Dispatcher.Dispatch(new HomeRequestedAction(HomeId));
    }
}
