@page "/homes/{homeId:guid}/settings"
@using Spenses.Client.Web.Components.ExpenseCategories
@using Spenses.Client.Web.Components.Members
@using Spenses.Client.Web.Layouts
@using Spenses.Client.Web.Components.Homes
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@layout MainLayout

<h3>Settings: @(Home?.Name ?? "Loading...")</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is6.OnTablet">
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Settings</CardTitle>
            </CardHeader>
            <CardBody>
                <LoadingIndicator Visible="HomesState.Value.HomeRequesting || HomesState.Value.HomeUpdating">
                    <HomeForm @ref="HomeFormRef"
                              Home="Home"/>
                    <Button Color="Color.Primary" Clicked="Save">Save</Button>
                </LoadingIndicator>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is6.OnTablet">
        <ExpenseCategoriesCard HomeId="HomeId" />
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is12.OnDesktop">
        <MembersCard HomeId="HomeId"/>
    </Column>
</Row>
