@page "/homes/{homeId:guid}/settings"
@using Spenses.Client.Web.Components.Homes
@using Spenses.Client.Web.Components.Members
@using Spenses.Client.Web.Layouts
@inherits BlazorState.BlazorStateComponent

@layout MainLayout

<h3>@(Home.Name)</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is12.OnDesktop">
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Settings</CardTitle>
            </CardHeader>
            <CardBody>
                <LoadingIndicator Visible="HomeState.HomeRequesting || HomeState.HomeUpdating">
                    <HomeForm @ref="HomeFormRef"
                              Home="Home"/>
                    <Button Color="Color.Primary" Clicked="Save">Save</Button>
                </LoadingIndicator>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is12.OnDesktop">
        <MembersCard HomeId="HomeId"/>
    </Column>
</Row>
