@page "/homes/{homeId:guid}/expenses"
@using Spenses.Client.Web.Components.Expenses
@using Spenses.Client.Web.Layouts

@layout MainLayout

<h3>Expenses</h3>

<ExpensesGrid HomeId="HomeId"/>

@code {
  [Parameter]
  public Guid HomeId { get; set; }
}
