@page "/homes/{homeId:guid}/expenses"
@using Spenses.Client.Web.Components.Expenses
@using Spenses.Client.Web.Layouts
@using Spenses.Client.Web.Store.Homes

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@layout MainLayout

<h3>Expenses</h3>

<ExpensesGrid HomeId="HomeId"/>

@code {
    [Parameter]
    public Guid HomeId { get; set; }

    [Inject]
    private IState<HomesState> HomesState { get; set; } = null!;

    [Inject]
    private IDispatcher Dispatcher { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (HomesState.Value.CurrentHome?.Id == HomeId)
            return;

        Dispatcher.Dispatch(new HomeRequestedAction(HomeId));
    }
}
