@using Blazorise.FluentValidation
@inherits BlazorState.BlazorStateComponent

<LoadingIndicator Visible="PaymentsState.PaymentCreating">
    <ModalHeader>
        <ModalTitle>Add payment</ModalTitle>
        <CloseButton/>
    </ModalHeader>
    <ModalBody>
        <Validations @ref="Validations"
                     Mode="ValidationMode.Manual"
                     Model="@Payment"
                     HandlerType="typeof(FluentValidationHandler)">
            <PaymentForm Payment="Payment"/>
        </Validations>
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Warning" Clicked="Close">
            Cancel
        </Button>
        <Button Color="Color.Primary" Clicked="Save">
            <Icon Name="IconName.Add" Margin="Margin.Is2.FromEnd"/>
            Add payment
        </Button>
    </ModalFooter>
</LoadingIndicator>
