@inherits BlazorState.BlazorStateComponent

<LoadingIndicator Visible="PaymentsState.PaymentRequesting || PaymentsState.PaymentUpdating">
    <ModalHeader>
        <ModalTitle>Edit payment</ModalTitle>
        <CloseButton />
    </ModalHeader>
    <ModalBody>
        <PaymentForm @ref="PaymentFormRef"
                     Payment="Payment" />
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Warning" Clicked="Close">
            Cancel
        </Button>
        <Button Color="Color.Primary" Clicked="Save">
            <Icon Name="IconName.Save" Margin="Margin.Is2.FromEnd" />
            Save payment
        </Button>
    </ModalFooter>
</LoadingIndicator>
