@page "/email-verification-required"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Verification required</PageTitle>

<h2>Verify your email address</h2>

<FluentStack Orientation="Orientation.Vertical"
             VerticalGap="4">
    <p>
        Before you can start using Spenses, we need to verify your email address.
    </p>
    <p>
        We have sent a verification link to
        <b>
            <samp>@Email</samp>
        </b>. Follow the link to verify your email address and get started.
    </p>
    <FluentStack Orientation="Orientation.Vertical">
        <div>
            If you didn't receive an email, we can send you a new one.
        </div>
        <FluentButton Appearance="Appearance.Outline"
                      OnClick="ResendVerificationEmail"
                      Loading="State.ResendVerificationEmailRequesting">
            Resend verification email
        </FluentButton>
    </FluentStack>

    @if (VerificationEmailReSent)
    {
        <FluentMessageBar Title="Email sent"
                          Intent="MessageIntent.Info">
            Verification email re-sent to @Email
        </FluentMessageBar>
    }
</FluentStack>
