@page "/sign-up"
@using Spenses.Shared.Validators.Identity

<PageTitle>Sign up</PageTitle>

<h2>Sign up</h2>

<FluentStack Orientation="Orientation.Vertical">

    @if (IdentityState.Value.Errors.Length > 1)
    {
        <FluentMessageBar Title="Unable to sign up"
                          Intent="MessageIntent.Error">
            <ul>
                @foreach (var error in IdentityState.Value.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </FluentMessageBar>
    }
    else if (IdentityState.Value.Errors.Length > 0)
    {
        <FluentMessageBar Title="@IdentityState.Value.Errors.Single()"
                          Intent="MessageIntent.Error"/>
    }

    <EditForm Model="RegisterRequest"
              OnSubmit="RegisterUser">

        <Validate ValidationProperties="@(ValidationProperties.Set.FluentValidator<RegisterRequestValidator>())"/>

        <FluentTextField Name="RegisterRequest.NickName"
                         @bind-Value="RegisterRequest.NickName"
                         Required="true"
                         Placeholder="Hingle McCringleberry"
                         Label="Your name"
                         Style="width: 100%" />
        <ValidationMessage For="() => RegisterRequest.NickName"
                           class="text-danger" />

        <FluentTextField Name="RegisterRequest.Email"
                         @bind-Value="RegisterRequest.Email"
                         AutoComplete="username"
                         Required="true"
                         Placeholder="hmccringleberry@psu.edu"
                         Label="Email"
                         Style="width: 100%"/>
        <ValidationMessage For="() => RegisterRequest.Email"
                           class="text-danger"/>

        <FluentTextField Name="RegisterRequest.Password"
                         TextFieldType="TextFieldType.Password"
                         @bind-Value="RegisterRequest.Password"
                         AutoComplete="current-password"
                         Required
                         Label="Password"
                         Style="width: 100%"/>
        <ValidationMessage For="() => RegisterRequest.Password"
                           class="text-danger"/>

        <FluentButton Type="ButtonType.Submit"
                      Appearance="Appearance.Accent"
                      Style="width: 100%"
                      Loading="IdentityState.Value.RegistrationRequesting">
            Sign up
        </FluentButton>
    </EditForm>
</FluentStack>
