@page "/verify-email"
@using Spenses.App.Infrastructure
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Email verification</PageTitle>

<h2>Email verification</h2>

<FluentStack Orientation="Orientation.Vertical"
             VerticalGap="4">
    @if (Success == true)
    {
        <FluentMessageBar Title="Email verified"
                          Intent="MessageIntent.Success">
            Your email address was successfully verified. You will be redirected to the
            <FluentAnchor Href="@Routes.Identity.Login()"
                          Appearance="Appearance.Hypertext">
                login page
            </FluentAnchor>
            shortly.
        </FluentMessageBar>
    }
    else if (Success == false)
    {
        <FluentMessageBar Title="Email not verified"
                          Intent="MessageIntent.Error">
            We were unable to verify your email address. You can request a new verification email
            <FluentAnchor Href="@Routes.Identity.EmailVerificationRequired"
                          Appearance="Appearance.Hypertext">
                here.
            </FluentAnchor>
        </FluentMessageBar>
    }
    else
    {
        <FluentProgressRing />
    }
</FluentStack>
