@using Spenses.Client.Web.Components

@inherits LayoutComponentBase

<PageTitle>Spenses.Client.Web</PageTitle>

<main>
  <FluentMainLayout NavMenuTitle="Nav">
    <Header>
      <AppHeader/>
    </Header>
    <NavMenuContent>
      <FluentNavMenuLink Href="/" Text="Dashboard"/>
    </NavMenuContent>
    <Body>
    <FluentBodyContent>
      <ErrorBoundary>
        <ChildContent>
          @Body
        </ChildContent>
        <ErrorContent Context="ex">
          <p class="error">@ex.Message</p>
        </ErrorContent>
      </ErrorBoundary>
    </FluentBodyContent>
    </Body>
  </FluentMainLayout>
</main>
