@inject NavigationManager NavigationManager

<h1 class="head">FluentUI Web Components</h1>
<ul>
  <li>
    <FluentAnchor Href="homes" Appearance=@SetAppearance("Homes")>Homes</FluentAnchor>
  </li>
  <li>
  </li>
</ul>

@code {
  private string? _target;

  protected override void OnInitialized()
  {
    NavigationManager.LocationChanged += LocationChanged;
    base.OnInitialized();
  }

  private void LocationChanged(object? sender, LocationChangedEventArgs e)
  {
    var uri = new Uri(e.Location);
    _target = uri.Segments.Length > 1 ? uri.Segments[1] : "";
    StateHasChanged();
  }

  private Appearance SetAppearance(string location)
  {
    return string.Equals(location, _target, StringComparison.OrdinalIgnoreCase) ? Appearance.Neutral : Appearance.Stealth;
  }
}
