@using Spenses.App.Components.Identity
<Fluxor.Blazor.Web.StoreInitializer/>

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(BaseLayout)">
                <Authorizing>
                    <h4>Logging you in...</h4>
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                </Authorizing>
                <NotAuthorized>
                    <RedirectToLogin/>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
