@inherits LayoutComponentBase

<FluentLayout>
    <FluentBodyContent>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                <div class="blazor-error-boundary">@ex.Message</div>
            </ErrorContent>
        </ErrorBoundary>
    </FluentBodyContent>
</FluentLayout>
