@inject NavigationManager Navigation

<FluentStack Orientation="Orientation.Horizontal"
             VerticalAlignment="VerticalAlignment.Center">
    <div>
        Hello, @NickName!
    </div>
    <FluentButton Appearance="Appearance.Accent"
                  OnClick="LogOut"
                  Loading="IdentityState.Value.LogoutRequesting">
        Log out
    </FluentButton>
</FluentStack>
