@using MudBlazor

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MudStack Row="true"
          AlignItems="AlignItems.Center">
    @if (MeState.Value.CurrentUserRequesting)
    {
        <div>
            Loading...
        </div>
    }
    else
    {
        <div>
            Hello, @MeState.Value.CurrentUser!.NickName!
        </div>
    }
    <MudButton Variant="Variant.Outlined"
               Color="Color.Tertiary"
               EndIcon="@Icons.Material.Filled.Logout"
               OnClick="LogOut"
               Disabled="IdentityState.Value.LogoutRequesting">
        Log out
    </MudButton>
</MudStack>
