@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<div>
        Hello, @Au.User.Identity?.Name!
        <FluentButton Appearance="Appearance.Accent" @onclick="BeginLogOut">Log out</FluentButton>
</div>

@code{
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("logout");
    }
}
