<MudStack Row="true">
    <div>
        Hello, @NickName!
    </div>
    <MudButton Variant="Variant.Filled"
               EndIcon="@Icons.Filled.Logout"
               OnClick="LogOut"
               Disabled="IdentityState.Value.LogoutRequesting">
        Log out
    </MudButton>
</MudStack>
