<MudStack Row="true" AlignItems="AlignItems.Center">
    <div>
        Hello, @NickName!
    </div>
    <MudButton Variant="Variant.Filled"
               EndIcon="@Icons.Material.Filled.Logout"
               OnClick="LogOut"
               Disabled="IdentityState.Value.LogoutRequesting">
        Log out
    </MudButton>
</MudStack>
