@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<LoadingIndicator Visible="ExpensesState.Value.ExpenseCreating">
    <ModalHeader>
        <ModalTitle>Add expense</ModalTitle>
        <CloseButton/>
    </ModalHeader>
    <ModalBody>
        <ExpenseForm @ref="ExpenseFormRef"
                     Expense="Expense"/>
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Warning" Clicked="Close">
            Cancel
        </Button>
        <Button Color="Color.Primary" Clicked="Save">
            <Icon Name="IconName.Add" Margin="Margin.Is2.FromEnd"/>
            Add expense
        </Button>
    </ModalFooter>
</LoadingIndicator>
