@inherits BlazorState.BlazorStateComponent

<LoadingIndicator Visible="ExpensesState.ExpenseRequesting || ExpensesState.ExpenseUpdating">
    <ModalHeader>
        <ModalTitle>Edit expense</ModalTitle>
        <CloseButton />
    </ModalHeader>
    <ModalBody>
        <ExpenseForm @ref="ExpenseFormRef"
                     Expense="Expense" />
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Warning" Clicked="Close">
            Cancel
        </Button>
        <Button Color="Color.Primary" Clicked="Save">
            <Icon Name="IconName.Save" Margin="Margin.Is2.FromEnd" />
            Save expense
        </Button>
    </ModalFooter>
</LoadingIndicator>
