@inherits LayoutComponentBase
@layout Spenses.Web.Client.Components.Layout.BaseLayout
@inject NavigationManager NavigationManager

<FluentLayout>
    <FluentCard Style="margin: auto; margin-top:10%; max-width: 600px;">
        @if (HttpContext is null)
        {
            <p>Loading...</p>
        }
        else
        {
            @Body
        }
    </FluentCard>
</FluentLayout>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
