@page "/forgot-password"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Reset password</PageTitle>

<MudStack>
    <MudText Typo="Typo.h5">Reset your password</MudText>
    <MudText Typo="Typo.subtitle1">Enter your account's verified email address, and we will send you a password reset link.</MudText>

    <EditForm Model="Request"
              OnValidSubmit="RequestPasswordReset">

        <FluentValidationValidator />

        <MudStack>
            <MudTextField @bind-Value="Request.Email"
                          Label="Email"
                          For="@(() => Request.Email)"
                          Required/>

            <div>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           ButtonType="ButtonType.Submit"
                           Disabled="IdentityState.Value.ForgotPasswordRequesting">
                    @if (Succeeded is null)
                    {
                        <span>Send password reset email</span>
                    }
                    else
                    {
                        <span>Resend password reset email</span>
                    }
                </MudButton>
            </div>
        </MudStack>
    </EditForm>

    @if (Succeeded == true)
    {
        <MudAlert Severity="Severity.Success">
            Check your email for a link to reset your password. If it does not appear within a few minutes, check your spam folder.
        </MudAlert>
    }
    else if (Succeeded == false)
    {
        <MudAlert Severity="Severity.Error">
            An unknown error occurred when sending password reset instructions to <b>@Request.Email</b>.
        </MudAlert>
    }
</MudStack>
