@page "/forgot-password"
@using Spenses.Shared.Validators.Identity
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Reset password</PageTitle>

<MudStack>
    <MudText Typo="Typo.h5">Reset your password</MudText>
    <MudText Typo="Typo.subtitle1">Enter the email address associated with your account to reset your password.</MudText>

    <EditForm Model="Request"
              OnSubmit="RequestPasswordReset">

        <Validate ValidationProperties="@(ValidationProperties.Set.FluentValidator<ForgotPasswordRequestValidator>())"/>

        <MudStack>
            <MudTextField @bind-Value="Request.Email"
                          Label="Email"
                          For="@(() => Request.Email)"
                          Required/>

            <div>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           ButtonType="ButtonType.Submit"
                           Disabled="IdentityState.Value.ForgotPasswordRequesting">
                    @if (Succeeded is null)
                    {
                        <span>Continue</span>
                    }
                    else
                    {
                        <span>Resend email</span>
                    }
                </MudButton>
            </div>
        </MudStack>
        
    </EditForm>

    

    @if (Succeeded == true)
    {
        <MudAlert Severity="Severity.Success">
            If an account exists with your email address, <b>@Request.Email</b>, we just emailed you with instructions to reset your password.
        </MudAlert>
    }
    else if (Succeeded == false)
    {
        <MudAlert Severity="Severity.Error">
            An unknown error occurred when sending password reset instructions to <b>@Request.Email</b>.
        </MudAlert>
    }
</MudStack>
