@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<LoadingIndicator Visible="HomesState.Value.HomeCreating">
    <ModalHeader>
        <ModalTitle>New home</ModalTitle>
        <CloseButton/>
    </ModalHeader>
    <ModalBody>
        <HomeForm @ref="HomeFormRef"
                  Home="Home"/>
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Warning" Clicked="Close">Cancel</Button>
        <Button Color="Color.Primary" Clicked="Save">
            <Icon Name="IconName.Add" Margin="Margin.Is2.FromEnd"/>
            Create home
        </Button>
    </ModalFooter>
</LoadingIndicator>
