@using Blazorise.FluentValidation
@using Spenses.Application.Models.Homes
@inherits BlazorState.BlazorStateComponent

<ModalHeader>
    <ModalTitle>New home</ModalTitle>
    <CloseButton/>
</ModalHeader>
<ModalBody>
    <Form>
        <Validations @ref="Validations"
                     Mode="ValidationMode.Manual"
                     Model="@Home"
                     HandlerType="typeof(FluentValidationHandler)">
            <Validation>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="Home.Name"
                                  Placeholder="The name of the home">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                    </FieldBody>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel>Note</FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="@Home.Description"
                                  Placeholder="An optional description of this home.">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                    </FieldBody>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel>Expense period</FieldLabel>
                    <FieldBody>
                        <Select @bind-SelectedValue="@Home.ExpensePeriod"
                                TValue="ExpensePeriod">
                            <SelectItem Value="ExpensePeriod.Weekly">Weekly</SelectItem>
                            <SelectItem Value="ExpensePeriod.Monthly">Monthly</SelectItem>
                        </Select>
                        <ValidationNone>Enter the default expense period for this home.</ValidationNone>
                        <ValidationError/>
                    </FieldBody>
                </Field>
            </Validation>
        </Validations>
    </Form>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Warning" Clicked="Close">Cancel</Button>
    <Button Color="Color.Primary" Clicked="Create">
        <Icon Name="IconName.Add" Margin="Margin.Is2.FromEnd" />
        Create home
    </Button>
</ModalFooter>
